@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    color: #444444;
}

.body {
    font-size: 18px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.section {
    padding: 40px 0;
    display: flex;
}

.content {
    margin-left: 20px;
    padding: 10px;
}

h2 {
    font-size: 24px;
    padding: 20px;
    width: 400px;
    border-right: 2px solid #555555;
}

a {
    text-decoration: none;
}