* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}

:root {
    --dark-green: #3F9E3D;
}

html {
    background-color: var(--dark-green);
}

.body {
    font-size: 18px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
}

.section {
    padding: 20px 0;
    margin-bottom: 20px;
}

h2 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
    color: var(--dark-green);
    background-color: black;
}

a {
    text-decoration: none;
}