nav {
    background-color: #555555;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        list-style-type: none;
        width: 700px;
        li {
            padding: 15px;
            width: 100%;
            a {
                color: #FFFFFF;
            }
            &:hover {
                background-color: #777777;
            }
        }
    }
}